<section class="bg-white">
    <div class="container">
        <div class="heading margin-bottom-50 animate bounceIn" data-delay="200">
            <h2>Notre Equipe</h2>
            <p></p>
        </div>
        <div class="row">
            {% if ourTeams is not empty %}
                {% for ourTeam in ourTeams %}
            <div class="col-md-4">
                <div class="team-member animate fadeInUp">

                    {% if ourTeam.FirstMedia %}
                        <img src="{{ asset('upload_medias/'~ ourTeam.firstMedia.image) }}" alt="">
                    {% else %}
                        <img src="{{ asset('images/team/1.jpg') }}" alt="">
                    {% endif %}


                    <h4>{{ ourTeam.firstName }} {{ ourTeam.lastName }}<span>{{ ourTeam.role }}</span></h4>
                    <p>{{ ourTeam.description }}</p>
                    <ul class="social-text">
                        <li><a class="facebook" href="#">facebook</a></li>
                        <li><a class="twitter" href="#.">twitter</a></li>
                        <li><a class="youtube" href="#.">youtube</a></li>
                    </ul>
                </div>
            </div>
            {% endfor %}
           {% endif%}
        </div>
    </div>
</section>
