<section class="about-us-section-s2 section-padding p-t-0">
    <div class="container">
        <div class="row">
            <div class="col col-md-5">
                <div class="img-holder about-image">
                    <img src="{{ asset('whelly/assets/images/about-s2.jpg') }}" alt>
                </div>
            </div>
            <div class="col col-md-7">
                <div class="about-details">
                    <div class="section-title">
                        <span>{{ 'whelly.section.about_us.about'|trans }}</span>
                        <h2>{{ 'whelly.section.about_us.h2_title_1'|trans }} <span>{{ 'whelly.section.about_us.h2_title_2'|trans }}</span></h2>
                    </div>
                    <div class="details">
                        <p>{{ 'whelly.section.about_us.description'|trans|raw }}</p>
                        <ul>
                            <li><i class="ti-arrow-circle-right"></i> {{ 'whelly.section.about_us.list.service_1'|trans|raw }} </li>
                            <li><i class="ti-arrow-circle-right"></i>  {{ 'whelly.section.about_us.list.service_2'|trans|raw }}  </li>
                            <li><i class="ti-arrow-circle-right"></i>   {{ 'whelly.section.about_us.list.service_3'|trans|raw }}  </li>
                        </ul>
                    </div>
                    <div class="ceo-quote">
                        <blockquote>
                            <span>- {{ 'whelly.section.about_us.ceo_quote'|trans}} </span>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
