<section class="contact-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="left-col">
                    <div class="img-holder">
                        <img src="{{ asset('whelly/assets/images/conctact.jpg') }}" alt="whely contact">
                        <div class="call-back">
                            <h3>{{ 'whelly.section.contact.image_text1'|trans }}</h3><span>{{ 'whelly.section.contact.image_text2'|trans }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="contact-form">
                    <div class="section-title">
                        <span>{{ 'whelly.section.contact.contact_us.title'|trans }}</span>
                        <h2> {{ 'whelly.section.contact.contact_us.text_1'|trans }}<span>{{ 'whelly.section.contact.contact_us.text_2'|trans }}</span></h2>
                    </div>
                    <form method="post" class="contact-validation-active" id="contact-form-main2">
                        <div>
                            <input type="text" class="form-control" name="name" id="name" placeholder="{{ 'whelly.section.contact.form.placeholder.name'|trans }}" value="">
                        </div>
                        <div>
                            <input type="email" class="form-control" name="email" id="email" placeholder="{{ 'whelly.section.contact.form.placeholder.email'|trans }}" value="">
                        </div>
                        <div>
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="{{ 'whelly.section.contact.form.placeholder.phone'|trans }}*" value="">
                        </div>
                        <div>
                            <input type="text" class="form-control" name="object" id="object" placeholder="" value="">
                        </div>
                        <div class="fullwidth">
                            <textarea class="form-control" name="note"  id="note" placeholder="{{ 'whelly.section.contact.form.placeholder.desciption'|trans }}" value=""></textarea>
                        </div>
                        <div class="submit-area">
                            <button type="submit" class="submit-btn">{{ 'whelly.section.contact.form.submit'|trans }}</button>
                            <div id="loader">
                                <i class="ti-reload"></i>
                            </div>
                        </div>
                        <div class="clearfix error-handling-messages">
                            <div id="success">{{ 'whelly.section.contact.form.success'|trans }}</div>
                            <div id="error"> {{ 'whelly.section.form.error'|trans }} </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
