<footer class="site-footer">
    <div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget about-widget">
                        <div class="logo widget-title">
                            <h3>A propos</h3>
                        </div>
                        <p>Dans une recherche constante de solutions innovantes, l’ambition de Welhy est d’apporter le
                            bien-être aux entreprises dans leur environnement de travail et aux particuliers dans leur
                            tâche quotidienne. Notre vision de se bien-être consiste à apporter les services supports de
                            qualité aux équipes pour les accompagner dans la réalisation de leurs objectifs. /p>
                        <div class="social">
                            <ul>
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li><a href="#"><i class="ti-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget link-widget">
                        <div class="widget-title">
                            <h3>Liens importants</h3>
                        </div>
                        <ul>
                            <li><a href="{{ path('whelly_about_us') }}">A propos</a></li>
                            <li><a href="">L'equipe</a></li>
                            <li><a href="{{ path('whelly_project') }}">Services</a></li>
                            <li><a href="{{ path('whelly_contact') }}">Contact</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Politique de confidentialité</a></li>
                            <li><a href="#">Foire aux questions</a></li>
                            <li><a href="{{ path('whelly_news') }}">Nouvelles</a></li>
                            <li><a href="#">Témoignages</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget contact-widget service-link-widget">
                        <div class="widget-title">
                            <h3>Adresse</h3>
                        </div>
                        <ul>
                            <li>{{ 'whelly.address'|trans }}n</li>
                            <li>Télephone : {{ 'whelly.phone_1'|trans }}</li>
                            <li>Télephone : {{ 'whelly.phone_2'|trans }}</li>
                            <li>horaire: 8h- 19h du lun-ven</li>
                            <li>Email: {{ 'whelly.mail'|trans }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget newsletter-widget">
                        <div class="widget-title">
                            <h3>Newsletter</h3>
                        </div>
                        <p>Etre au courant de nos activités.</p>
                        <form>
                            <div class="input-1">
                                <input type="email" class="form-control" placeholder="Email Address *" required>
                            </div>
                            <div class="submit clearfix">
                                <button type="submit"><i class="ti-email"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </div>
    <div class="lower-footer">
        <div class="container">
            <div class="row">
                <div class="separator"></div>
                <div class="col col-xs-12">
                    <p class="copyright">Copyright &copy; {{ 'now'|date('Y') }} {{ 'whelly.name'|trans }}. All rights
                        reserved.</p>
                    <div class="short-links">
                        <ul>
                            <li><a href="#">Vie privée</a></li>
                            <li><a href="#">Conditions d'utilisation</a></li>
                            <li><a href="#">Cookies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
