<footer class="site-footer">
    <div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget about-widget">
                        <div class="logo widget-title">
                            <h3>{{ 'whelly.section.footer.widget.about.title'|trans }}</h3>
                        </div>
                        <p>{{ 'whelly.section.footer.widget.about.text'|trans }}</p>
                        <div class="social">
                            <ul>
                                <li><a href="{{ 'whelly.section.footer.widget.social.facebook'|trans }}"><i class="ti-facebook"></i></a></li>
                                <li><a href="{{ 'whelly.section.footer.widget.social.twitter'|trans }}"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="{{ 'whelly.section.footer.widget.social.twitter'|trans }}"><i class="ti-twitter"></i></a></li>
                                <li><a href="{{ 'whelly.section.footer.widget.social.pinterest'|trans }}"><i class="ti-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget link-widget">
                        <div class="widget-title">
                            <h3> {{ 'whelly.section.footer.widget.link.title'|trans }}</h3>
                        </div>
                        <ul>
                            <li><a href="{{ path('whelly_about_us') }}">{{ 'whelly.section.footer.widget.link.about'|trans }}</a></li>
                            <li><a href="">L'equipe</a></li>
                            <li><a href="{{ path('whelly_project') }}">{{ 'whelly.section.footer.widget.link.services'|trans }}</a></li>
                            <li><a href="{{ path('whelly_contact') }}">{{ 'whelly.section.footer.widget.link.contact'|trans }}</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">{{ 'whelly.section.footer.widget.link.privacy_policy'|trans }}</a></li>
                            <li><a href="#">{{ 'whelly.section.footer.widget.link.faq'|trans }}</a></li>
                            <li><a href="{{ path('whelly_news') }}">{{ 'whelly.section.footer.widget.link.news'|trans }}</a></li>
                            <li><a href="#">{{ 'whelly.section.footer.widget.link.testimonials'|trans }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget contact-widget service-link-widget">
                        <div class="widget-title">
                            <h3>{{ 'whelly.section.footer.widget.address.title'|trans }}</h3>
                        </div>
                        <ul>
                            <li>{{ 'whelly.address'|trans }}</li>
                            <li>{{ 'whelly.section.footer.widget.address.phone'|trans }} : {{ 'whelly.phone_1'|trans }}</li>
                            <li>{{ 'whelly.section.footer.widget.address.phone'|trans }} : {{ 'whelly.phone_2'|trans }}</li>
                            <li>{{ 'whelly.section.footer.widget.address.horaire'|trans }}: {{ 'whelly.open_time'|trans }}</li>
                            <li>{{ 'whelly.section.footer.widget.address.Email'|trans }}: {{ 'whelly.mail'|trans }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget newsletter-widget">
                        <div class="widget-title">
                            <h3>{{ 'whelly.section.footer.widget.newslletter.title'|trans }}</h3>
                        </div>
                        <p>{{ 'whelly.section.footer.widget.newslletter.text'|trans }}</p>
                        <form>
                            <div class="input-1">
                                <label>
                                    <input type="email" class="form-control" placeholder="Email*" required>
                                </label>
                            </div>
                            <div class="submit clearfix">
                                <button type="submit"><i class="ti-email"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </div>
    <div class="lower-footer">
        <div class="container">
            <div class="row">
                <div class="separator"></div>
                <div class="col col-xs-12">
                    <p class="copyright">Copyright &copy; {{ 'now'|date('Y') }} {{ 'whelly.name'|trans }}. All rights
                        reserved.</p>
                    <div class="short-links">
                        <ul>
                            <li><a href="#">Vie privée</a></li>
                            <li><a href="#">Conditions d'utilisation</a></li>
                            <li><a href="#">Cookies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
