<section class="partners-section">
    <h2 class="hidden">{{ 'whelly.section.partners.title'|trans }}</h2>
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="partner-grids partners-slider">
                    <div class="grid">
                        <img src="{{ asset('whelly/assets/images/partners/img-1.jpg') }}" alt>
                    </div>
                    <div class="grid">
                        <img src="{{ asset('whelly/assets/images/partners/img-2.jpg') }}" alt>
                    </div>
                    <div class="grid">
                        <img src="{{ asset('whelly/assets/images/partners/img-3.jpg') }}" alt>
                    </div>
                    <div class="grid">
                        <img src="{{ asset('whelly/assets/images/partners/img-4.jpg') }}" alt>
                    </div>
                    <div class="grid">
                        <img src="{{ asset('whelly/assets/images/partners/img-5.jpg') }}" alt>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator"></div>
    </div> <!-- end container -->
</section>