<section class="services-section-s2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                <div class="section-title-s4">
                    <span>{{ 'whelly.section.services.title1'|trans }}</span>
                    <h2>{{ 'whelly.section.services.title2_1'|trans }} <span>{{ 'whelly.section.services.title2_2'|trans }}</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="service-grids clearfix">
                    <div class="grid">
                        <div class="img-holder">
                            <img src="{{ asset('whelly/assets/images/services/restauration.jpg') }}" alt="whelly restautation collective">
                        </div>
                        <div class="details">
                            <i class="fi flaticon-solar-energy"></i>
                            <h3><a href="#">{{ 'whelly.section.services.grid1.title'|trans }}</a></h3>
                            <p>{{ 'whelly.section.services.grid1.text'|trans }}</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="{{ asset('whelly/assets/images/services/gestion_hebergement.jpg') }}" alt="whely hebergement">
                        </div>
                        <div class="details">
                            <i class="fi flaticon-plug"></i>
                            <h3><a href="#">{{ 'whelly.section.services.grid2.title'|trans }}</a></h3>
                            <p>{{ 'whelly.section.services.grid1.text'|trans }}</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="{{ asset('whelly/assets/images/services/nettoyage.jpg') }}" alt="nettoyage">
                        </div>
                        <div class="details">
                            <i class="fi flaticon-oil-barrel"></i>
                            <h3><a href="#">{{ 'whelly.section.services.grid3.title'|trans }}</a></h3>
                            <p>{{ 'whelly.section.services.grid3.text'|trans }}</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="{{ asset('whelly/assets/images/services/buamderie.jpg') }}" alt="whely buanderie=">
                        </div>
                        <div class="details">
                            <i class="fi flaticon-oil-1"></i>
                            <h3><a href="#">{{ 'whelly.section.services.grid4.title'|trans }}</a></h3>
                            <p>{{ 'whelly.section.services.grid4.text'|trans }}</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="{{ asset('whelly/assets/images/services/facility-management.jpg') }}" alt="whely facility management">
                        </div>
                        <div class="details">
                            <i class="fi flaticon-truck"></i>
                            <h3><a href="#">{{ 'whelly.section.services.grid5.title'|trans }}</a></h3>
                            <p>{{ 'whelly.section.services.grid5.text'|trans }}</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="{{ asset('whelly/assets/images/services/entretienespacevert.jpg') }}" alt="welhy espace vert">
                        </div>
                        <div class="details">
                            <i class="fi flaticon-factory"></i>
                            <h3><a href="#">{{ 'whelly.section.services.grid6.title'|trans }}</a></h3>
                            <p>{{ 'whelly.section.services.grid6.text'|trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
