<section class="hero-slider hero-style-2">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-inner slide-bg-image"
                     data-background="{{ asset('whelly/assets/images/slide-1.jpg') }}">
                    <div class="container">
                        <div data-swiper-parallax="300" class="slide-title">
                            <h2><span>{{  'whelly.section.slider.slider1.title1_1'|trans}} </span> <br>{{  'whelly.section.slider.slider1.title1_2'|trans}}</h2>
                        </div>
                        <div data-swiper-parallax="400" class="slide-text">
                            <p></p>
                        </div>
                        <div class="clearfix"></div>
                        <div data-swiper-parallax="500" class="slide-btns">
                            <a href="#" class="theme-btn">{{  'whelly.section.slider.to_book'|trans}} </a>
                            <a href="#" class="theme-btn-s2">{{  'whelly.section.slider.contact_us'|trans}} </a>
                        </div>
                    </div>
                </div> <!-- end slide-inner -->
            </div> <!-- end swiper-slide -->

            <div class="swiper-slide">
                <div class="slide-inner slide-bg-image"
                     data-background="{{ asset('whelly/assets/images/slide-2.jpg') }}">
                    <div class="container">
                        <div data-swiper-parallax="300" class="slide-title">
                            <h2><span>{{  'whelly.section.slider.slider2.title1_1'|trans}} </span> {{  'whelly.section.slider.slider2.title1_2'|trans}}</h2>
                        </div>
                        <div data-swiper-parallax="400" class="slide-text">
                            <p></p>
                        </div>
                        <div class="clearfix"></div>
                        <div data-swiper-parallax="500" class="slide-btns">
                            <a href="#" class="theme-btn">{{  'whelly.section.slider.to_book'|trans}} </a>
                            <a href="#" class="theme-btn-s2">{{  'whelly.section.slider.contact_us'|trans}} </a>
                        </div>
                    </div>
                </div> <!-- end slide-inner -->
            </div> <!-- end swiper-slide -->

            <div class="swiper-slide">
                <div class="slide-inner slide-bg-image"
                     data-background="{{ asset('whelly/assets/images/slide-3.jpg') }}">
                    <div class="container">
                        <div data-swiper-parallax="300" class="slide-title">
                            <h2><span>{{  'whelly.section.slider.slider3.title1_1'|trans}} </span> {{  'whelly.section.slider.slider3.title1_2'|trans}}</h2>
                        </div>
                        <div data-swiper-parallax="400" class="slide-text">
                            <p></p>
                        </div>
                        <div class="clearfix"></div>
                        <div data-swiper-parallax="500" class="slide-btns">
                            <a href="#" class="theme-btn">{{  'whelly.section.slider.to_book'|trans}} </a>
                            <a href="#" class="theme-btn-s2">{{  'whelly.section.slider.contact_us'|trans}} </a>
                        </div>
                    </div>
                </div> <!-- end slide-inner -->
            </div><!-- end swiper-slide -->
        </div>
        <!-- end swiper-wrapper -->

        <!-- swipper controls -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>
