<section class="team-section section-padding p-t-0">
    <div class="container">
        <div class="row">
            <div class="col col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                <div class="section-title-s4">
                    <span></span>
                    <h2>{{ 'whelly.section.team.title1_1'|trans}} <span>{{ 'whelly.section.team.title1_2'|trans}}</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="team-grids">
                    <div class="grid">
                        <div class="img-social">
                            <div class="img-holder">
                                <img src="{{ asset('whelly/assets/images/team/director.jpg') }}" alt>
                            </div>
                            <div class="social">
                                <ul>
                                    <li><a href="{{ 'whelly.section.team.grid1.facebook'|trans}}"><i class="ti-facebook"></i></a></li>
                                    <li><a href="{{ 'whelly.section.team.grid1.twitter'|trans}}"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a href="{{ 'whelly.section.team.grid1.linkedin'|trans}}"><i class="ti-linkedin"></i></a></li>
                                    <li><a href="{{ 'whelly.section.team.grid1.pinterest'|trans}}"><i class="ti-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="details">
                            <h3>{{ 'whelly.section.team.grid1.details.title'|trans}}</h3>
                            <span>{{ 'whelly.section.team.grid1.details.text'|trans}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
