<section class="why-choose-us-section section-padding p-t-0">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="inner-area">
                    <div class="section-title">
                        <span>{{ 'whelly.section.why_choose_us.title1'|trans }}</span>
                        <h2>{{ 'whelly.section.why_choose_us.title2_1'|trans }}<span> {{ 'whelly.section.why_choose_us.title2_1'|trans }}</span></h2>
                    </div>
                    <div class="details">
                        <p>{{ 'whelly.section.why_choose_us.text'|trans }}</p>
                        <div class="skills">
                            <div class="skill">
                                <h6>{{ 'whelly.section.why_choose_us.skills.skill1'|trans }}</h6>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="85"></div>
                                </div>
                            </div>
                            <div class="skill">
                                <h6>{{ 'whelly.section.why_choose_us.skills.skill2'|trans }}</h6>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="95"></div>
                                </div>
                            </div>
                            <div class="skill">
                                <h6>{{ 'whelly.section.why_choose_us.skills.skill3'|trans }}</h6>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="92"></div>
                                </div>
                            </div>
                            <div class="skill">
                                <h6>{{ 'whelly.section.why_choose_us.skills.skill4'|trans }}</h6>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="95"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="img-holder">
                    <img src="{{ asset('whelly/assets/images/experience.jpg') }}" alt>
                </div>
            </div>
        </div>
    </div>
</section>
