<footer id="footer">
    <div class="container">
        <div class="footer-top clearfix">

            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="footer-logo animate fadeInLeft">
                        <h2>BMS</h2>consultings
                    </div>
                </div>
                <div class="col-md-9 col-sm-9">
                    <p>{{ 'app.company.description'|trans }}</p>
                </div>
            </div>

            <div class="height-50"></div>
            <div class="footer-left">
                <div class="footer-address-widget clearfix">
                    <ul>
                        <li>
                            <i class="icon-telephone114"></i>
                            {{ 'app.tel'|trans }} <br> {{ 'app.phone'|trans }}
                            <a href="mailto:{{ 'app.email'|trans }}"></a>
                        </li>
                        <li><i class="icon-icons74"></i>
                            {{ 'app.company.address_complete'|trans|raw }}
                            {{ 'app.company.address_complete2'|trans|raw }}
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="usefull-links-widget clearfix">
                            <h4>Liens utils</h4>
                            <ul>
                                <li><a href="{{ path('home_page') }}">Accueil</a></li>
                                <li><a href="#">A propos</a></li>
                                <li><a href="{{ path('service_list') }}">Nos services</a></li>
                                <li><a href="#">Nos Projets</a></li>
                                <li><a href="{{ path('news') }}">Actualités</a></li>
                                <li><a href="{{ path('contact') }}">{{ 'app.menu.contact_us'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="usefull-links-widget clearfix">
                            <h4></h4>
                            <ul>
                                <li><a href="#">Expertises</a></li>
                                <li><a href="#">Recrutement</a></li>
                                <li><a href="{{ path('contact') }}">Agences</a></li>
                                <li><a href="#">Réalisations</a></li>
                                <li><a href="{{ path('about_us') }}">L'equipe</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-right">
                <div class="newsletter-widget">
                    <h4>Newsletter</h4>
                    <p>Pour ne rien rater</p>
                    <div class="form" id="subscriber-form"></div>
                    <ul class="social">
                        <li class="animate bounceIn">
                            <a href="#." class="facebook"><i class="icon-facebook-1"></i></a>
                        </li>
                        <li class="animate bounceIn" data-delay="100">
                            <a href="#" class="twitter"><i class="icon-twitter-1"></i></a>
                        </li>
                        <li class="animate bounceIn" data-delay="200">
                            <a href="#" class="google-plus"><i class="icon-google"></i></a>
                        </li>
                        <li class="animate bounceIn" data-delay="300">
                            <a href="#" class="linkedin"><i class="icon-linkedin3"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p>Coyright © {{ 'now'|date('Y') }} {{ 'app.name'|trans }}. All rights reserved.</p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <p class="text-right" style="padding-right: 36px;"> By <a href="#">Moccine-design</a></p>
                </div>
            </div>
        </div>
    </div>

</footer>
