<section>
    <div class="container" id="partners">
        <div class="heading margin-bottom-50 animate bounceIn">
            <h2 class="main-title text-center">Nos Partnaires</h2>
        </div>
        <div class="three-items-carousel owl-carousel">
            <div class="partner animate fadeInLeft">
                <img src="{{ asset('images/partners/cisco.jpg')}}" alt="">
            </div>
            <div class="partner animate fadeInRight">
                <img src="{{ asset('images/partners/Dell_logopng.png')}}" alt="">
            </div>
            <div class="partner">
                <img src="{{ asset('images/partners/appic.png')}}" alt="">
            </div>
            <div class="partner">
                <img src="{{ asset('images/partners/HP_logo.png')}}" alt="">
            </div>
            <div class="partner">
                <img src="{{ asset('images/partners/imagine_academy.jpeg')}}" alt="">
            </div>
            <div class="partner">
                <img src="{{ asset('images/partners/logo_air_lynx.jpg')}}" alt="">
            </div>
        </div>
    </div>
</section>
