<!-- REQUEST A CALLBACK -->
<section class="callback-bg parallax">
    <div class="container">
        <div class="request-a-callback clearfix animate fadeInUp">
            <div class="request-a-callback-content">
                <h3 class="main-title">Demander un rappel</h3>
                <p>UN PROJET INFORMATIQUE POUR VOTRE ENTREPRISE ? OBTENEZ RAPIDEMENT VOTRE DEVIS SUR-MESURE</p>
            </div>
            <div class="request-a-callback-form">
                <div class="request-a-callback-form-success"></div>
                <div class="request-a-callback-form-failed"></div>
                {{ form_start(form, {'attr': {'id': 'request-call-back'}}) }}
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.phone) }}
                <div class="styled-select">
                    {{ form_row(form.subject) }}
                </div>
                {{ form_end(form) }}
                <button  class="btn btn-primary submit-request-call-back">Valider</button>

            </div>
        </div>
    </div>
</section>
<!-- / REQUEST A CALLBACK -->