<section class="bg-blue why-people-chose-us">
    <div class="container">
        <div class="heading text-center animate bounceIn">
            <h2>BAFING MULTI SERVICES</h2>
            <p>BAFING MUTI SERVICES est une entreprise de droit guinéen..</p>
        </div>
        <div class="text-center">
            <div class="row">
                <div class="col-md-4">
                    <div class="service-box three">
                        <i class="icon-img-1"></i>
                        <h4>{{ 'VISION, MISSION ET VALEURS'|capitalize }}</h4>
                        <p>BAFING MUTI SERVICES est une entreprise de droit guinéen..</p>
                        <a href="{{ path('who_are_we') }}">{{ 'app.paragraph.read_more'|trans }}</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box three">
                        <i class="icon-img-6"></i>
                        <h4>{{ 'POURQUOI NOUS CHOISIR'|capitalize }}</h4>
                        <p>BAFING MUTI SERVICES est une entreprise de droit guinéen..</p>
                        <a href="#.">{{ 'app.paragraph.read_more'|trans }}</a>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box three">
                        <i class="icon-img-7"></i>
                        <h4>{{ 'NOTRE DEMARCHE PROJET'|capitalize }}</h4>
                        <p>BAFING MUTI SERVICES est une entreprise de droit guinéen..</p>
                        <a href="#.">{{ 'app.paragraph.read_more'|trans }}</a>

                    </div>
                </div>
            </div>

            <div class="height-30"></div>

            <div class="row">
                <div class="col-md-4">
                    <div class="service-box three animate fadeInUp">
                        <i class="icon-img-8"></i>
                        <h4>{{ 'PLAN D’ASSURANCE QUALITE'|capitalize }}</h4>
                        <p>BAFING MUTI SERVICES est une entreprise de droit guinéen..</p>
                        <a href="#.">{{ 'app.paragraph.read_more'|trans }}</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box three animate fadeInUp" data-delay="100">
                        <i class="icon-img-2"></i>
                        <h4>S</h4>
                        <p>BAFING MUTI SERVICES est une entreprise de droit guinéen..</p>
                        <a href="#.">{{ 'app.paragraph.read_more'|trans }}</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box three animate fadeInUp" data-delay="200">
                        <i class="icon-img-3"></i>
                        <h4>Secure Future</h4>
                        <p>Lorem ipsum dolor sit amet, Let it it floats back to you.</p>
                        <a href="#.">{{ 'app.paragraph.read_more'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
