{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <section class="subpage-header">
            <div class="container">
                <div class="site-title clearfix">
                    <h2>Actualités</h2>
                    <ul class="breadcrumbs">
                        <li><a href="{{ path('home_page') }}">Accueil</a></li>
                        <li><a href="{{ path('news') }}">Nos actualités</a></li>
                        <li>{{ new.title|lower }}</li>
                    </ul>
                </div>
                <a href="{{ path('contact') }}" class="btn btn-primary get-in-touch" data-text="Contact us"><i class="icon-telephone114"></i>Contact us</a>
            </div>
        </section>
    </div>
    <!-- NEWS CONTENT -->
    <section class="news">
        <div class="container">
            <div class="row">
                <div class="col-md-8 animate fadeInLeft">
                    <div class="p-right-30">
                        <article class="blog-item">
                            <div class="blog-thumbnail">
                                {% if new.firstMedia %}
                                    <img src="{{ asset('upload_medias/'~ new.firstMedia.image) }}" alt="">
                                {% else %}
                                    <img alt="" src="{{ asset('images/bmsconsulting/bms-consulting-singlepage.jpg') }}">
                                {% endif %}

                            </div>
                            <div class="blog-content">
                                <h3 class="blog-title"><a href="#">{{ new.title }}</a></h3>
                                <p>{{ new.content|raw }}</p>
                            </div>
                        </article>

                        <div class="comment-respond">
                            <h3>Nous laisser un commentaire</h3>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-4"><input type="text" placeholder="Your Name"></div>
                                    <div class="col-md-4"><input type="text" placeholder="Email Address"></div>
                                    <div class="col-md-4"><input type="text" placeholder="Phone Number"></div>
                                </div>
                                <textarea placeholder="Your Message"></textarea>
                                <button data-text="submit" class="btn btn-primary">Valider</button>
                            </form>
                        </div>

                    </div>
                </div>

                <aside class="col-md-4 animate fadeInRight">


                    <!-- Recent posts side bare
                    ============================================= -->
                    <div class="sidebar-widget">
                        <h3>Actus</h3>
                        {% for lastNew in lastNews %}
                            <article class="popular-post">
                                {% if  lastNew.firstMedia %}
                                    <img src="{{ asset('upload_medias/'~ lastNew.firstMedia.image) }}" alt="">
                                {% else %}
                                    <img src="{{ asset('images/news/recent-post-img1.jpg') }}" alt="">
                                {% endif %}
                                <h4><a href="{{ path('news_details', {slug:lastNew.slug }) }}">{{ lastNew.title }}</a></h4>
                                <p class="popular-date"></p>
                            </article>
                        {% endfor %}
                    </div>


                    <!-- Categories Widget
                    ============================================= -->
                    <div class="sidebar-widget clearfix">

                        <h3>BMS consulting</h3>

                        <ul class="categories">
                            <li><a href="#."><i class="fa fa-angle-right"></i>Offre d'emploi</a></li>
                            <li><a href="#."><i class="fa fa-angle-right"></i> Formation</a></li>
                            <li><a href="#."><i class="fa fa-angle-right"></i>Expertise</a></li>
                            <li><a href="#."><i class="fa fa-angle-right"></i>Projets recents</a></li>
                            <li><a href="#."><i class="fa fa-angle-right"></i>Objectif</a></li>
                        </ul>


                    </div>


                    <!-- Tags
                    ============================================= -->
                    <div class="sidebar-widget clearfix">

                        <h3>Tags</h3>

                        <ul class="tags">
                            <li><a href="#.">Formations</a></li>
                            <li><a href="#."> Conseil </a></li>
                            <li><a href="#."> Stratégie d'Entreprise </a></li>
                            <li><a href="#.">Cabinet d'études</a></li>
                            <li><a href="#.">Fourniture de matériels informatique</a></li>
                            <li><a href="#.">Conseil & Management</a></li>
                        </ul>


                    </div>


                    <!-- Search Widget
                    ============================================= -->
                    <div class="sidebar-widget">
                        <div class="search clearfix">
                            <form method="get" action="#.">
                                <input type="text" placeholder="Search...">
                                <button type="submit" class="search-icon"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>


                </aside>

            </div>

        </div>
    </section>
    <!-- / NEWS CONTENT -->
{% endblock %}
