{% extends 'base.html.twig' %}
{% block body %}
    <!-- HERDER -->
    <section class="subpage-header">
        <div class="container">
            <div class="site-title clearfix">
                <h2 class="main-title" >Actualités</h2>
                <ul class="breadcrumbs">
                    <li><a href="{{ path('home_page') }}">Accueil</a></li>
                    <li><a href="{{ path('news') }}">Actualités</a></li>
                </ul>
            </div>
            <a href="{{ path('contact') }}" class="btn btn-primary get-in-touch" data-text="Contact">
                <i class="icon-telephone114"></i>Contact</a>
        </div>
    </section>
    <!-- NEWS CONTENT -->
    <section>
        <div class="container">
            {% for key,new in news %}
                {% if key%2 !=0 %}
                    <article class="blog-item-classic">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 animate fadeInLeft" data-delay="{{ key*100 }}">
                                <div class="blog-thumbnail">
                                    <a href="{{ path('news_details', {slug: new.slug}) }}">
                                        {% if  new.firstMedia %}
                                            <img src="{{ asset('upload_medias/'~ new.firstMedia.image) }}" alt="">
                                        {% else %}
                                            <img alt="" src="{{ asset('images/bmsconsulting/bms-consulting-mini2.jpg') }}">
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 animate fadeInRight" ata-delay="{{ key*100 }}">
                                <div class="blog-content">
                                    <h3>
                                        <a href="{{ path('news_details', {slug: new.slug}) }}">
                                            {{ new.title }}
                                        </a>
                                    </h3>
                                    <p>  {{ new.summary|raw }} </p>
                                    <a href="{{ path('news_details', {slug: new.slug}) }}" class="btn-link">Lire la suite</a>
                                </div>
                            </div>
                        </div>
                    </article>
                {% else %}
                    <article class="blog-item-classic">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 animate fadeInLeft" data-delay="100">
                                <div class="blog-thumbnail">
                                    <a href="{{ path('news_details', {slug: new.slug}) }}">
                                        {% if  new.firstMedia %}
                                            <img src="{{ asset('upload_medias/'~ new.firstMedia.image) }}" alt="">
                                        {% else %}
                                            <img alt="" src="{{ asset('images/bmsconsulting/bmsconsulting69.jpeg') }}">
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 animate fadeInRight" data-delay="100">
                                <div class="blog-content">
                                    <h3>
                                        <a href="{{ path('news_details', {slug: new.slug}) }}">
                                            {{ new.title }}
                                        </a>
                                    </h3>
                                    <p>{{ new.summary|raw }}</p>
                                    <a href="{{ path('news_details', {slug: new.slug}) }}" class="btn-link">Lire la suite</a>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}


            <ul class="news-paggination">
                <li class="animate fadeInRight"><a href="#"><i class="fa fa-angle-left"></i>precedent</a>
                </li>
                <li class="animate fadeInLeft"><a href="#">Suivant <i class="fa fa-angle-right"></i></a>
                </li>
            </ul>

        </div>
    </section>
    <!-- / NEWS CONTENT -->
{% endblock %}
